:root {
	--padding: 15px;
	--logo-height: 6vh;
	--content-cover-border: 3vw;
	--content-cover-height: 50vh;
	/* --content-cover-width: calc(var(--content-cover-height) * 0.6); */
	--content-cover-width: 93vw;
	--top-panel-height: 50px;
	--bottom-panel-height: 50px;
	--left-panel-width: 290px;
	--open-chat-window-width: 75%;
	--message-offset-margin: 40px;
	--agent-button-height: 60px;
	/* --color-green: rgb(0, 206, 52);
	--color-green-shear: rgba(0, 206, 52, 0.305);
	--color-dark-green: rgb(0, 180, 45); */
	--color-green: rgb(0, 216, 47);
	/* --color-green-shear: rgba(0, 206, 52, 0.305); */
	--color-dark-green: rgb(0, 177, 124);
	--color-border-gray: rgb(222, 222, 222);
	--color-light-gray: rgb(243, 243, 243);
	--color-background: rgb(255, 255, 255);
	/* --color-background: rgb(74, 120, 103); */
	--color-dark-gray: rgb(233, 233, 233);
	--color-panel-gray: rgb(237, 237, 237);

	--color-gray-1: rgb(252, 252, 252);
	--color-gray-2: rgb(242, 242, 242);
	--color-gray-3: rgb(232, 232, 232);
}

html {
	color: rgb(43, 43, 43);
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #ecf0f1;
	/* border: solid 1px black; */
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	/* -ms-overflow-style: none; */
	/* background-attachment: fixed;
	background-size: cover; */
	/* background-image: linear-gradient(
		to right,
		black 30%,
		rgb(26, 1, 1) 40%,
		rgb(7, 26, 1),
		rgb(1, 31, 39) 90%
	); */
	/* 
	background-image: linear-gradient(
		to right,
		black,
		rgba(51, 82, 184, 0.463) 30%,
		 black
	);
	 */

	/* scrollbar-width: none; */
	/* overflow-x: hidden; */
	font-size: 16px;
	/* position: fixed; */
}
body {
	overflow: hidden;
}

body,
#app,
#main-page {
	margin: 0px;
	padding: 0px;
}

#app-frame {
	/* border: solid 1px gray; */
	background-color: aqua;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between; /* Align items horizontally */
	align-items: start; /* Align items vertically */
}

#user-icon {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center; /* Align items horizontally */
	align-items: center; /* Align items vertically */
	height: calc(var(--top-panel-height) - 20px);
	width: calc(var(--top-panel-height) - 20px);
	background-color: chocolate;
	border: solid 1px gray;
	border-radius: 50px;
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 2;
}

#left-panel,
#main-area,
#top-panel,
#main-panel,
#bottom-panel {
	/* border: solid 1px gray; */
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#left-panel {
	width: var(--left-panel-width);
	border-right: solid 1px var(--color-border-gray);
	/* width: 700px; */
	/* background-color: var(--color-gray-1); */
	background: linear-gradient(90deg, #ffffff 39.9%, #f8f8f8 100%);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
#main-area {
	width: 100%;
	position: relative;
}

#collapse-chats-button {
	overflow: hidden;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	border-radius: 22px;
	/* border: solid 1px var(--color-border-gray); */
	/* background-color: var(--color-gray-2); */
	padding: 15px;
	/* z-index: 1000; */
	min-height: 50px;
	width: 80px;
	/* border: solid 2px rgb(0, 206, 52); */
	top: calc(var(--top-panel-height) + 15px);
	right: 30px;
	cursor: pointer;
}

#collapse-chats-button:hover {
	background-color: var(--color-gray-3);
	/* border: solid 1px var(--color-dark-gray); */
	transition: all 0.07s ease;
	transform: scale(1.05);
	/* border: solid 2px rgb(0, 206, 52); */
	/* color: white; */
}

#create-chat-button {
	/* height: 60px;
	width: 80px; */
	overflow: hidden;
	position: absolute;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	gap: 5px;
	border-radius: 22px;
	/* border-radius: 50px; */
	background-color: white;
	padding: 15px;
	z-index: 1000;

	/* transition: height 0.2s ease; */
}

#create-chat-button.collapsed {
	background-color: white;
	min-height: 50px;
	width: 80px;
	border: solid 2px var(--color-green);
	right: 30px;
	bottom: 15px;
	cursor: pointer;
	align-items: center;
	transition: all 0.07s ease;
}

#create-chat-button.collapsed:hover {
	background-color: var(--color-green);
	border: solid 2px var(--color-green);
	color: white;
	transform: scale(1.05);
}

#collapse-chats-button:active,
div#create-chat-button.collapsed:active {
	transform: scale(0.95);
}

#create-chat-button.expanded {
	width: calc((100vw - var(--left-panel-width)) * 0.65);
	right: calc((100% - 65%) / 2);
	border-bottom-right-radius: 0px;
	border: solid 1px var(--color-border-gray);
	align-items: center;
	bottom: 30px;
	text-align: left;
	transition: all 0.1s ease;
	/* transition: height 0.15s ease; */
}

@media screen and (max-width: 1000px) {
	#create-chat-button.expanded {
		width: calc((100vw - var(--left-panel-width)));
		right: calc((100% - 90%) / 2);
	}
}

@media screen and (max-width: 550px) {
	#create-chat-button.expanded {
		width: 90vw;
		right: 1%;
	}
}

.button-icon-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	font-size: x-large;
}

.popup-blanket {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	/* background-color: rgba(
		0,
		0,
		0,
		0.5
	);  */
	/* Semi-transparent background overlay */
	background-image: linear-gradient(
		to top,
		rgb(0, 0, 0, 0.3),
		rgb(0, 0, 0, 0.1)
	);

	z-index: 500; /* Make sure it's above other content */
	overflow-y: hidden;
	overflow-x: hidden;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.1s ease, visibility 0.1s ease;
}

.popup-blanket.visible {
	opacity: 1;
	visibility: visible;
}

.create-chat-input {
	width: 100%;
	/* min-height: 100%; */
	/* min-height: 48px; */
	opacity: 0;
	/* background-color: aquamarine; */
	resize: none;
	overflow-y: auto;
	border: none;
	font-size: medium;
	line-height: 1.5;
	overflow-x: hidden;
	outline: none;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	transition: opacity 0.05s ease;
	/* transition: color 0.1s ease-in-out;  */
	/* transition: height 0.2s ease; */
}

.create-chat-input.fade-in {
	opacity: 1; /* Fully visible */
}

.send-button {
	opacity: 0;
	cursor: pointer;
	background-color: white;
	border: solid 2px var(--color-green);
	min-height: 35px;
	min-width: 35px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: x-large;
	transition: opacity 0.05s ease;
}

.send-button.fade-in {
	opacity: 1; /* Fully visible */
}

.send-button.active {
	opacity: 1; /* Fully visible */
}

.send-button.inactive {
	opacity: 0;
	visibility: hidden;
}

.send-button.active:hover {
	background-color: var(--color-green);
	border: solid 2px var(--color-green);
	color: white;
}
.send-button.active:active {
	background-color: var(
		--color-dark-green
	); /* Slightly darker shade of green */
	border: solid 2px var(--color-dark-green); /* Match the darker shade */
	color: white;
}

/* .create-chat-input::placeholder {
	color: transparent; 
	transition: color 2s ease-in-out;
}

.create-chat-input.fade-in::placeholder {
	color: #aaa; 
} */

.input-field {
	width: 100%;
	height: auto;
	font-size: 16px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	resize: none; /* Prevent resizing if not desired */
	/* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif; */
}

#top-panel {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center; /* Align items horizontally */
	align-items: center; /* Align items vertically */
	height: var(--top-panel-height);
	background-color: var(--color-gray-1);
	border-bottom: solid 1px var(--color-border-gray);
	/* gap: 5px; */
	padding-right: 10px;
}

#chats-search-bar {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: flex-start; /* Align items horizontally */
	align-items: center; /* Align items vertically */
	border: solid 1px var(--color-border-gray);
	background-color: white;
	border-radius: 12px;
	width: 70%;
	min-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 1;
	/* margin-right: 18px;
	margin-left: 10px; */
}

#filter-menu {
	position: absolute;
	/* top: 50%; */
	/* transform: translateY(-50%); */
	max-width: 11%;
	display: flex;
	flex-direction: row;
	justify-content: center; /* Align items horizontally */
	align-items: center; /* Align items vertically */
	border: dotted 1px gray;
	/* background-color: white; */
	border-radius: 4px;
	width: 50%;
	min-height: 30px;
	/* position: fixed; */
	left: 10px;
	top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#bottom-panel {
	min-height: var(--bottom-panel-height);
	background-color: burlywood;
}
#main-panel {
	background-color: rgb(165, 185, 185);
	/* display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center; */
}

.agent-button-wrapper {
	height: calc(var(--agent-button-height) + 2px);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin-top: 3px;
	/* border: solid 1px gray; */
}

.add-new-agent-button {
	cursor: pointer;
	display: flex;
	align-items: center; /* Vertical centering */
	justify-content: space-between; /* Horizontal centering (optional) */
	/* align-items: center; */
	border-radius: 22px;
	background-color: white;
	border: 1px solid var(--color-border-gray);
	/* box-shadow: 0 0 0 1px var(--color-border-gray); */
	height: var(--agent-button-height);
	/* width: 50px; */
	width: calc(90% - 10px);
	/* margin-top: 3px; */
	padding-left: 10px;
	padding-right: 10px;
}

.agent-button {
	cursor: pointer;
	display: flex;
	align-items: center; /* Vertical centering */
	justify-content: space-between; /* Horizontal centering (optional) */
	/* align-items: center; */
	border-radius: 22px;
	background-color: white;
	border: 1px solid var(--color-border-gray);
	/* box-shadow: 0 0 0 1px var(--color-border-gray); */

	height: var(--agent-button-height);
	/* width: 50px; */
	width: calc(90% - 10px);
	margin-top: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

.add-new-agent-button.selected,
.add-new-agent-button.selected:hover,
.agent-button.selected,
.agent-button.selected:hover {
	border: 2px solid black;
	background-color: var(--color-gray-2);
	transition: all 0.08s ease;
}

.add-new-agent-button:active,
.agent-button:active {
	transform: scale(0.95);
	transition: all 0.1s ease;
}

/* .add-new-agent-button.selected {
	background-color: var(--color-green-shear);
} */

.agent-button:hover,
.add-new-agent-button:hover,
.pinned-chat-button:hover {
	/* background-color: var(--color-gray-2); */

	border: solid 1px black;
	/* border: solid 1px var(--color-background); */
}

.a-b-name {
	/* align-self: flex-start; */
	height: auto;
	/* border: solid 1px red; */
}

.a-b-settings {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	/* border: solid 1px red; */
	height: fit-content;
	color: rgb(150, 150, 150);
	z-index: 1;
}

.a-b-settings:hover {
	color: black;
}

.pinned-chat-button {
	cursor: pointer;
	display: flex;
	align-items: center; /* Vertical centering */
	justify-content: flex-start; /* Horizontal centering (optional) */
	border-radius: 12px;
	background-color: white;
	border: solid 1px var(--color-border-gray);
	height: var(--top-panel-height);
	/* width: 50px; */
	width: calc(90% - 10px);
	margin-top: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

#chat-area {
	box-sizing: border-box;
	overflow-y: auto;
	width: 100%;
	/* height: 100%; */
	height: calc(100vh - var(--top-panel-height));
	max-height: calc(100vh - var(--top-panel-height));
	background-color: var(--color-background);
	/* overflow-y: scroll; */
	scrollbar-gutter: stable;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	/* gap: 5px; */
	padding-top: 10px;
	/* padding-bottom: 50px; */
}

.chat-window {
	overflow: hidden;
	background-color: white;
	border: solid 1px var(--color-border-gray);
	box-shadow: var(--color-gray-3) 0px 5px 10px 3px;
	width: var(--open-chat-window-width);
	cursor: pointer;
	margin-top: 0px;
	margin-bottom: 4px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	transition: all 0.2s ease-out, border 0s ease;
}

.chat-summary {
	background-color: white;
	/* border: solid 1px gray; */
	/* border-radius: 12px; */
	width: 100%;
	min-height: 40px;
	cursor: pointer;
	box-sizing: border-box;
	/* margin-bottom: 4px; */
	padding: 10px;
	/* z-index: 1; */
}

.chat-summary:hover {
	background-color: var(--color-gray-2);
	border: none;
}

.chat-top-panel {
	background-color: white;
	cursor: pointer;
	box-sizing: border-box;
	width: 100%;
	/* border-radius: 0px 0px 22px 22px; */
	min-height: 43px;
	/* boreder-bottom: solid 1px gray; */
	padding: 10px;
	padding-left: 15px;
	z-index: 1;
	border: none;
	/* background-color: rgb(235, 235, 235); */
}
.chat-top-panel:hover {
	background-color: var(--color-gray-2);
}

.chat-viewer-wrapper {
	max-height: 100%;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	border: solid 1px var(--color-border-gray);
	background-color: yellow;
}

.chat-viewer {
	flex: 1;
	/* border: solid 1px black; */
	overflow-y: auto;
	/* box-sizing: border-box; */
	width: 100%;
	/* min-height: 100%; */
	/* max-height: 100%; */
	/* max-height: calc(100vh - var(--top-panel-height)); */
	/* background-color: aquamarine; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 35px;
	/* padding-left: 5px;
	padding-right: 5px; */
	padding-bottom: 50px;
	overscroll-behavior: contain;
}

.chat-window.open {
	justify-content: space-between;
	min-height: calc(100vh - var(--top-panel-height) - 50px - 20px);
	/* min-height: 90vh; */
	border-radius: 22px 22px 0px 22px;
}

.chat-window.folded {
	min-height: 40px;
	width: 70%;
	border-radius: 12px;
}

/* .chat-window.folded:hover {
	border: solid 1px var(--color-dark-gray);
} */

.hidden {
	display: none;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	height: 0;
}

.chat-message-input-area {
	display: flex;
	flex-direction: row;
	justify-content: center; /* Align items horizontally */
	align-items: center; /* Align items vertically */
	gap: 5px;
	/* border-radius: 22px 22px 0px 0px; */
	background-color: white;
	box-sizing: border-box;
	width: 100%;
	/* min-height: 80px; */
	padding: 15px;
	/* box-shadow: var(--color-background) 0px -2px 5px; */
	position: sticky;
	bottom: 0;
	border-top: solid 1.5px var(--color-light-gray);
}

.chat-message-input-textarea {
	width: 100%;
	/* min-height: 100%; */
	/* min-height: 48px; */
	opacity: 1;
	/* background-color: aquamarine; */
	resize: none;
	overflow-y: auto;
	border: none;
	font-size: medium;
	line-height: 1.5;
	overflow-x: hidden;
	outline: none;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	transition: opacity 0.05s ease;
	/* transition: color 0.1s ease-in-out;  */
	/* transition: height 0.2s ease; */
}

/* Firefox */
.chat-viewer,
#chat-area {
	/* scrollbar-width: thin; */
	scrollbar-color: transparent transparent; /* hidden by default */
	transition: all ease-out 0.05s;
	scroll-behavior: auto;
}

.chat-viewer:hover,
#chat-area:hover {
	scrollbar-color: rgba(0, 0, 0, 0.3) transparent; /* thumb only on hover */
}

/* WebKit (Chrome, Safari, etc.) */
.chat-viewer::-webkit-scrollbar,
#chat-area::-webkit-scrollbar {
	width: 8px;
}

.chat-viewer::-webkit-scrollbar-track,
#chat-area::-webkit-scrollbar-track {
	background: transparent;
}

.chat-viewer::-webkit-scrollbar-thumb,
#chat-area::-webkit-scrollbar-thumb {
	background-color: transparent; /* hidden by default */
	border-radius: 4px;
}

.chat-viewer:hover::-webkit-scrollbar-thumb,
#chat-area:hover::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3); /* visible on hover */
}

.message-wrapper {
	display: flex;
	width: 100%;
	margin: 5px 0;
}

/* Agent messages aligned to the left */
.message-wrapper.agent {
	justify-content: center;
}

/* User messages aligned to the right */
.message-wrapper.user {
	justify-content: flex-end;
}

/* Optionally, adjust styling of message bubbles if needed */
.user-message {
	margin-right: var(--message-offset-margin);
	box-sizing: border-box;
	/* min-height: 75px; */
	min-width: 30%;
	border-radius: 22px 22px 0px 22px;
	background-color: rgb(236, 236, 236);
	padding: 15px;
}

.agent-message {
	box-sizing: border-box;
	/* min-height: 75px; */
	min-width: calc(100% - var(--message-offset-margin) * 2);
	/* border: solid 1px gray; */
	/* border-radius: 20px; */
	/* background-color: rgb(145, 211, 183); */
	/* padding: 10px; */
}

/* USER LOGIN */
#user-login-page {
	height: 100%;
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#user-login-menu {
	position: relative;
	/* transform: translateY(-20%); */
	height: 300px;
	width: 500px;
	background-color: white;
	border: solid 1px gray;
	border-radius: 22px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.input-label {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	/* border: solid 1px gray; */
}

.input-field {
	width: 70%;
	padding: 15px;
	font-size: medium;
}

#button-login {
	cursor: pointer;
	width: 70%;
	/* height: 32px; */
	padding: 17px;
	border-radius: 4px;
	font-size: medium;
	background-color: rgb(145, 211, 183);
	/* border: solid 2px gray; */
	text-align: center;
}

#button-login:hover {
	background-color: lightgray;
}
